nav{
    position:fixed; 
    top:23px;
    left: 400px;

    word-spacing: 25px;
}

h1{
    background: brown;
}

div{
    text-align: center;
    list-style-position: inside;

    background: #E9ECEF;
}